{% extends 'base.html.twig' %}

{% block title %}Product name{% endblock %}

{% block body %}
    <main class="product-main">
        <section class="product-section">
            <div class="product-section-image">
                <img src="{{ asset('images/products/product-test.jpg') }}" alt="Product 1" />
            </div>
            <div class="product-section-content">
                <h1>Product name</h1>
                <span class="product-section-content-price">8,50€</span>
                <span class="product-section-content-description-title">description</span>
                <p class="product-section-content-description-text">
                  Déodorant Nécessaire, une formule révolutionnaire composée exclusivement d'ingrédients 
                  naturels pour une protection efficace et bienfaisante. 
                  <br />
                  <br />
                  Chaque flacon de 50 ml renferme le secret d'une fraîcheur longue durée, sans compromettre 
                  votre bien-être ni l'environnement. Conçu avec soin, ce déodorant allie le pouvoir antibactérien 
                  des extraits de plantes aux vertus apaisantes des huiles essentielles, assurant une sensation de 
                  confort toute la journée. 
                  <br />
                  <br />
                  Grâce à sa formule non irritante et respectueuse de votre peau, Nécessaire offre une alternative 
                  saine aux déodorants conventionnels, tout en préservant l'équilibre naturel de votre corps.
                </p>
                <a href="#" class="product-section-content-button">
                  <span>Ajouter au panier</span>
                </a>
            </div>
        </section>
    </main>
{% endblock %}
