{% extends 'base.html.twig' %}

{% block title %}Product name{% endblock %}

{% block body %}
    <main class="product-main">
        <section class="product-section">
            <div class="product-section-image">
                <img src="{{ asset(product.picturePath) }}" alt="Product 1" />
            </div>
            <div class="product-section-content">
                <h1>{{ product.name }}</h1>
                <span class="product-section-content-price">{{ product.price }}€</span>
                <span class="product-section-content-description-title">description</span>
                <p class="product-section-content-description-text">
                  {{ product.fullDescription }}
                </p>
                <a href="#" class="product-section-content-button">
                  <span>Ajouter au panier</span>
                </a>
            </div>
        </section>
    </main>
{% endblock %}
