.main-header {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;

  .header-logo {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;

    .header-logo-title {
      font-size: 14px;
      font-weight: 500;
      color: $logo-color;
    }
  }

  .header-links {
    display: flex;
    gap: 52px;

    a {
      color: $text-color;
      text-decoration: none;
      font-size: 14px;
    }
  }
}