@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@import './variables.scss';
@import './components';
@import './pages';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  background-color: $background;
  color: $text-color;
}

main {
  min-height: calc(100vh - $header-height - $footer-height);
}
