$gray: #333333;
$light-gray: #666666;
$white: #FFFFFF;
$light-green: #E8F0E3;
$light-brown: #EBE3D3;

$background: #F6F5F0;
$logo-color: #497555;
$text-color: $gray;

$header-height: 81px;
$footer-height: 81px;
