$gray: #333333;
$light-gray: #666666;
$white: #FFFFFF;
$light-green: #E8F0E3;
$light-brown: #EBE3D3;

$background: #FFFDF7;
$border: #F6F5F0;
$background-secondary: #F7F1EC;
$foreground: #FFFDF7;
$logo-color: #497555;
$text-color: $gray;
$button-color: #565656;



$header-height: 81px;
$footer-height: 81px;

$error-background: #f00;
$error-color: #fff;

$success-background: rgb(0, 114, 0);
$success-color: #fff;