{% extends 'base.html.twig' %}

{% block body %}
  <main class="auth-main">
    <section class="auth-container">
      {% block image %}{% endblock %}
      {% block form %}{% endblock %}
    </section>
  </main>
{% endblock %}
