{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
  <main class="account-main">
    <h1>Mon compte</h1>
    <section class="account-section-orders">
      <h2>Mes commandes</h2>
      <table>
        <thead>
          <tr>
            <th>N°</th>
            <th>Date</th>
            <th>Prix</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td>{{ order.id }}</td>
              <td>{{ order.createdAt|date('d/m/Y') }}</td>
              {% set total = 0 %}
              {% for orderedProduct in order.orderedProducts %}
                {% set total = total + orderedProduct.product.price * orderedProduct.quantity %}
              {% endfor %}
              <td>{{ total }}€</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <section class="account-section-api">
      <h2>Mon accès API</h2>
      <a href="#" class="button-primary">
        <span>Activer mon accès API</span>
      </a>
    </section>
    <section class="account-section-delete-account">
      <a href="#" class="button-primary">
        <span>Supprimer mon compte</span>
      </a>
    </section>
  </main>
{% endblock %}
